<ul class="list-group">
  <li class="list-group-item">
    <h1>Title</h1>
    <%= book.title %>
  </li>

  <li class="list-group-item">
    <h1>
      Comment
    </h1>
    <%= book.comment %>
  </li>
</ul>
