<h1>Show Book</h1>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= render @book %>
    <ul class="list-inline">
      <li class="list-inline-item btn btn-link">
        <%= link_to 'Edit', edit_book_path(@book) %>
      </li>
      <li class="list-inline-item btn btn-link">
        <%= link_to 'Back', books_path %>
      </li>
    </ul>
  </div>
</div>
